<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/nav.css">
  <title>LEFTSITO | Home</title>
</head>
<body>
  {{> nav}}

<div class="main">

  <div class="box">
    <h2>The Project</h2>
    <span>Una página dedicada a reunir a los más valientes y habilidosos jugadores de <b style="color: brown;">Left 4 Dead 2</b>, donde la competencia está al máximo nivel y solo los verdaderos expertos logran destacar. Aquí no solo se juega, se demuestra quién tiene lo necesario para ser el mejor sobreviviente en un mundo infestado de zombis.</span>

    <h2>The Admins</h2>
    <div class="about-admins">
      <span><a href="https://steamcommunity.com/id/TheDuckxd/">[Ducks]</a> Founder, Desarrolador.</span>
      <span><a href="https://steamcommunity.com/profiles/76561199153288700/">[Aldo]</a> Founder, Desarrollador.</span>
    </div>
  </div>
  
  <div class="box-right">
    {{> profile}}
  </div>

</div>
</body>
</html>
