<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/nav.css">
  <title>LEFTSITO | Champions</title>
</head>
<body>
  {{> nav}}

<div class="main">

  <div class="box">
    <p>¡Bienvenido a la Champions Left! Aquí es donde los grandes se enfrentan y solo uno será reconocido como el mejor de todos.</p>

    {{#if adminAccess}}
      <form action="/createGame" method="POST">
        <button type="submit" class="create">[Crea una partida Privada]</button>
        </span>
      </form>
    {{/if}}
    <br/>
    <form action="/joinGame" method="POST">
      <span>¿Quieres demostrar tu habilidad? 
      <input type="text" placeholder="Code" name="code">
      <button type="submit" class="create">[Join]</button>
    </form>
    <br/>

    <h2>Stats</h2>
    <a href="">[2025]</a>

  </div>
  
  <div class="box-right">
    {{> profile}}
  </div>

</div>
</body>
</html>
