<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/nav.css">
  <title>LEFTSITO | Home</title>
</head>
<body>
  {{> nav}}

<div class="main">

  <div class="box">
    <p>Bienvenido</p>
  </div>
  
  <div class="box-right">
    {{> profile}}
    <p>Hicimos esta página para pasarla bien y competir entre amigos.</p>
    <span style="color: #cccccc">Échale un ojo a las <a href="/rules">reglas</a> antes de competir.</span>
  </div>

</div>
</body>
</html>
