<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>L4D2 HUB</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/boostrap.css">
</head>
<body>
<div class="main">
  {{> nav}}
  <div class="box">
    <div class="box-left">

      <div class="join-game">
        <h3 style="color: lightgreen;"><i class="bi bi-people-fill"></i> Party</h3>
        <div class="line2"></div>

        <p>Entrar a una partida privada.</p>
        <div class="join-game-inputs">
          <span style="color: yellow;"><b>Game private</b></span>
          <form>
            <input type="text" class="form-control">
            <button class="btn btn-success" type="submit">Join</button>
          </form>
        </div>
      </div>

      <div class="box-ranked">
        <h3 style=" display: flex; align-items: center; gap: 10px; color: red;">
          <img class="tank-icon" src="./image/tank-icon.png">
          Ranked
        </h3>
        <div class="line2"></div>
        <div class="ranked">
          <div class="join-ranked">
            <img class="tank-ranked" src="./image/tank-ranked.png">
            <form action="/join-queue" class="form-ranked" method="POST">
              <button class="btn btn-danger" type="submit">Join ranked</button>
              <button class="btn btn-dark" disabled>Exit ranked</button>
            </form>
          </div>


          <br/>
          <div class="line2"></div>

        </div>

      </div>

    </div>

    <div class="box-right">

      {{> profile}}
      {{> stats }}

    </div>
  </div>
</div>

</body>
</html>
