<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <title>LEFTSITO | Login</title>
</head>
<body>
  {{> nav}}

<div class="main">
  <div class="box">
    <p>Para jugar, primero debes iniciar sesión con tu cuenta de Steam:</p>
    <a href="/auth/steam"><img src="/image/steam.png"></a>
  </div>

  <div class="box-right">
    {{> profile}}
    <br/>
    <div class="text">
      Inicia sesion con steam para que puedas estar en la <a href="/leaderboard">Leaderboard</a>.
    </div>
  </div>
</div>
</body>
</html>
