<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/nav.css">
    <title>LEFTSITO | Rules</title>
</head>
<body>
  {{> nav}}

<div class="main">
  <div class="box">
    <p>Demuestra tus habilidades como superviviente o infectado en partidas 4 vs 4 bajo reglas justas y balanceadas. ¡Sube en el ranking, compite con los mejores y forma parte de la comunidad competitiva más intensa del apocalipsis zombi!</p>

    <span class="rule-title">1. <b>Formato de Partida</b></span>
    <ul>
      <li>Modalidad: Versus (4 vs 4).</li>
      <li>Mapas Oficiales de Left 4 dead 2.</li>
      <li>Se juega ida y vuelta (ambos equipos como supervivientes e infectados en cada capítulo).</li>
    </ul>

    <span class="rule-title">2. <b>Clips y Replays</b></span>
    <ul>
      <li>Las partidas pueden ser grabadas o transmitidas.</li>
      <li>Se puede subir Clips.</li>
    </ul>

    <span class="rule-title">3. <b>Emparejamiento</b></span>
    <ul>
      <li>El emparejamiento de equipos debe realizarse de forma justa y equilibrada. Puedes organizar partidas directamente desde esta página si tienes equipo completo, o utilizar el sistema interno de emparejamiento de <i>Left 4 Dead 2</i> para encontrar rivales disponibles. Se recomienda coordinar con anticipación para evitar desconexiones o desequilibrios durante la partida.</li>
    </ul>
  </div>

<div class="box-right">
    {{> profile}}
  </div>
</div>
</body>
</html>
