<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/nav.css">
    <link rel="stylesheet" href="../css/clip.css">
    <title>LEFTSITO | Home</title>
</head>
<body>
    {{> nav}}

<div class="main">
  <div class="box">
    <p class="clip-user"><span>Clip subido por: <b>{{videos.creator.name}}</b></span> <span>Subido: <b>{{timeago this.timestamp}}</b></span></p>
    <div class="box-frame">
      <iframe src="{{videos.link}}"></iframe>
      <span class="view-title">{{videos.title}}</span>
    </div>
  </div>

  <div class="box-right">
    {{> profile}}
    <br/>

    <span class="title-global">Compartir</span>
    <hr/>
    <a href="" target="_blank" id="facebook">[Facebook]</a>
    <a href="" target="_blank" id="whatsapp">[Whatsapp]</a>
    <a href="#" id="url">[Enlace]</a>
  </div>
</div>

<script src="/js/redes.js"></script>
</body>
</html>
