.logo {
  display: flex;
  gap: 5px;
  padding: 10px;
}

.logo span {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-shadow: 0 0 2px brown, 0 0 5px red;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 40px;
  max-width: 100%;
  width: 80em;
  margin: auto;
  background-color: #111010;
  border: 1px solid #333333;
  border-bottom: none;
}

.link-nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.links {
  display: flex;
  gap: 25px;
}

nav a { 
  color: rgb(247, 78, 78);
}

.image img {
  max-width: 100%;
  width: 70px;
}

.online {
  border: 2px solid lightgreen;
}

.offline {
  border: 2px solid #ff6961;
}
