@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: black;
  font-family: "Source Code Pro";
  /* font-size: 14pt; */
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

.line {
  border: 1px solid rgb(42, 42, 42);
}

.line2 {
  border: 1px solid rgb(42, 42, 42);
  margin-top: 10px;
}

.main {
  max-width: 100%;
  width: 1050px;
  margin: auto;
}

.box {
  display: flex;
  gap: 15px;
}

nav {
  display: flex;
  align-items: center;
  background-color: #111111;
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
}

.nav-title {
  font-size: 25px;
}

.box-left {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(19, 19, 19); */
  border-radius: 10px;
  margin-top: 15px;
  width: 90%;
  height: 100%;
}

.box-right {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(19, 19, 19); */
  /* padding: 10px; */
  border-radius: 10px;
  width: 50%;
  margin-top: 15px;
  height: 100%;
}

.perfil {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(17, 17, 17);
}

.box-perfil {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 15px;
}

.avatar {
  max-width: 100%;
  width: 70px;
}

.perfil-data {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 250px;
}

.perfil-data span {
  font-size: 1.2rem;
  font-weight: bold;
}

.name-elo {
  display: flex;
  justify-content: space-between;
}

.box-stats {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-top: 15px;
}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 20px;
  align-items: center;
  width: 95px;
  height: 100px;
  padding: 10px;
  background-color: #111111;
  border-radius: 10px;
}

.stats-name {
  color: brown;
  text-shadow: 0px 0px 5px darkred;
}

.list-player {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  height: 350px;
  overflow: auto;
}

h3 {
  margin: 0;
}

.list-profile {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 15px;
}

.list-profile img {
  max-width: 100%;
  width: 30px;
}

.join-game {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #111111;
  height: 140px;
}

.join-game-inputs {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-around;
}
.join-game-inputs form {
  display: flex;
  gap: 5px;
}


.box-ranked {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background-color: #111111;
  /* height: 630px; */
  margin-top: 15px;
}

.tank-icon {
  max-width: 100%;
  width: 50px;
}

.tank-ranked {
  max-width: 100%;
  width: 120px;
  filter: drop-shadow(0px 0px 10px red);
}

.ranked {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 100%;
}

.join-ranked {
  display: flex;
  align-items: center;
  gap: 20px;
}

.form-ranked {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cola {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cola2 {
  display: flex;
  flex-direction: column;
  background-color: #1B1A1B;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  gap: 10px;
}

.cola-box {
  display: flex;
  background-color: #ffc107;
  padding: 10px;
  color: black;
  border-radius: 5px;
  font-weight: bold;
}

.box-cola-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

